body {
    font-family: "Rubik", sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
  }
  
  form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  input[type="file"] {
    margin-top: 5px;
  }
  
  textarea {
    height: 100px;
  }
  
  input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  input[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  .error {
    color: red;
  }
  
  /* Styling the unordered list */
  .navbarlist {
      list-style-type: none; /* Remove default bullet points */
      margin: 0;
      padding: 0;
      float: right; /* Float the list to the left */
      font-family: "Rubik";
  }
  
  /* Styling the list items */
  li {
      display: inline; /* Display list items inline */
  }
  
  /* Styling the links within the list items */
  li a {
      display: inline-block; /* Display links as blocks */
      color: white; /* Text color */
      padding: 14px 20px; /* Padding for space around the text */
      text-decoration: none; /* Remove underline from links */
      font-family: "Rubik";
  }
  
  /* Hover effect on links */
  li a:hover {
      background-color: #555; /* Background color on hover */
  }
  
  nav {
      background-image: linear-gradient(#3636ff, #6868fc);
      width:100%;
      height:46px;
      position: fixed;
      z-index: 1000;
      top: 0;
      left: 0;
      left: 0;
  }
  
  .logo {
      float:left;
      width: 12%;
      height: 98%;
  }
  
  .title {
    text-align: center;
    padding-top: 60px;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-family: "Rubik";
    position: relative;
  }

  .cred {
    color: white;
  }